html {
    font-family: "Crimson Text", Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

p {
    line-height: 1.8;
}

img {
    width: 100%;
}

a {
    font-style: italic;
    transition: color var(--linkHover), text-decoration var(--linkHover);
}

#archive {
    position: fixed;
    top: 10px;
    left: 20px;
    color: var(--grey20);
    transition: color var(--linkHover);
    text-decoration: none;
    font-style: normal;
}

#archive:hover {
    color: var(--black);
}

#arrow {
    padding-top: 4px;
}

/* Link Colors */
a:link, a:visited {
    color: var(--grey);
    text-decoration: underline wavy var(--yellow);
}
a:hover, a:active {
    color: var(--black);
    text-decoration: underline wavy var(--blue);
}

h1, h2 {
    font-family: "Crimson Text", Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 55px;
}

.post {
    display: grid;
    max-width: 1100px;
    margin: 200px auto;
    grid-gap: 10px 50px;
    grid-template-columns: [site-left] 3fr [content-left] 12fr [content-right] 5fr [site-right];
}

.post>* {
    grid-column: content-left / content-right;
}

.post>figure {
    margin: 0;
    grid-column: site-left / site-right;
}

.post figcaption {
    font-size: 12px;
}

.post>blockquote {
    grid-column: site-left / site-right;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.tip {
    background: var(--grey10);
    padding: 10px;
    grid-row: span 5;
    align-self: start;
}

.tip-left {
    grid-column: site-left / content-left;
    text-align: right;
    border-right: 2px solid var(--yellow);
}

.tip-right {
    grid-column: content-right / site-right;
    border-left: 2px solid var(--yellow);
}