@font-face {
    font-family: "vulf";
    src: url("../fonts/Vulf_Mono-Italic_web.woff2") format("woff2"),
         url("../fonts/Vulf_Mono-Italic_web.woff") format("woff"),
         url("../fonts/Vulf_Mono-Italic_web.ttf") format("truetype");
}

html {
    font-size: 100%;
    font-family: "vulf", "serif";
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
}

#layout {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
}

.link a:hover {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);  
  }
  
.link a {
    display: inline-block;
    -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
  }

@media (max-width: 800px) {
    #layout { max-width: 100%;}
}