 #playlists {
    --modalSize: 768px;
    background: var(--white);
    position: absolute;
    max-width: var(--modalSize);
    max-height: var(--page);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all var(--longHover);
    transform: translateY(200vH);
    box-shadow: 3px 3px 8px .8px var(--grey50);
}

#playlists.active {
    transform: translateY(0);
    top: var(--bigGap);
}

#playlists #close {
    transition: color var(--linkHover);
    position: relative;
    display: block;
    text-align: left;
    left: var(--smallGap);
    top: var(--smallGap);
}

#playlists #close:hover {
    color: var(--blue);
    cursor: pointer;
}

#playlist-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: var(--medGap);
    display: flex;
    flex-direction: column;
}

#playlist-list a {
    width: 100%;
    text-decoration: none;
    transition: all var(--linkHover);
    color: var(--black);
    padding: var(--smallGap) var(--medGap);
}

#playlist-list a:hover {
    color: var(--blue);
    background: var(--grey20);
}

.playlist {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.playlist > span {
    margin-left: auto;
    text-align: right;
}