 #playlists {
    --modalSize: 768px;
    --yDist: calc(50vh - var(--modalSize));
    background: var(--white);
    position: fixed;
    max-width: var(--modalSize);
    max-height: var(--modalSize);
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all var(--longHover);
    transform: translateX(100vw) translateY(var(--yDist));
    box-shadow: 3px 3px 8px .8px var(--grey50);
}

#playlists.active {
    transform: translateX(0) translateY(var(--yDist));
}

#playlists #close {
    transition: color var(--linkHover);
    position: relative;
    top: var(--smallGap);
    left: var(--smallGap);
}

#playlists #close:hover {
    color: var(--blue);
    cursor: pointer;
}

#playlist-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: var(--medGap);
    display: flex;
    flex-direction: column;
}

#playlist-list a {
    width: 100%;
    text-decoration: none;
    transition: all var(--linkHover);
    color: var(--black);
    padding: var(--smallGap) var(--medGap);
}

#playlist-list a:hover {
    color: var(--blue);
    background: var(--grey20);
}

.playlist {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.playlist > span {
    margin-left: auto;
    text-align: right;
}