:root {
    /* Colors */
    --black: #272727;
    --yellow: #fed766;
    --blue: #2eb0c4;
    --grey: #696773;
    --grey70: #696773ce;
    --grey50: #69677383;
    --grey20: #69677325;
    --grey15: #69677311;
    --grey10: #69677309;
    --midgrey: #4b4a54;
    --darkgrey: #43424a;
    --darkgrey20: #43424a63;
    --white: #f9f9fa;
    --white50: #f9f9fa77;
    --white20: #f9f9fa44;

    /* Measures */
    --header: 50px;
    --page: calc(100vh - var(--header));
    --hero: calc(var(--page) / 2);
    --project: 360px;
    --sidebar: 100px;
    --burger: 40px;
    --patty: 4px;
    --smallGap: 10px;
    --medGap: 20px;

    /* Timings */
    --linkHover: .25s;
    --longHover: calc(var(--linkHover) * 2);

    /* Colors */
    --burgerColor: var(--white);
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    color: var(--black);
    background: var(--white);
    font-size: 15px;
    font-family: "Roboto", "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

body {
    padding: 0px;
    margin: 0px;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

h2, h3 {
    font-family: "Quicksand", sans-serif
}

/* Link Colors */
a:link, a:visited {
    color: var(--blue);
}
a:hover, a:active {
    color: var(--blue);
}

/* Nav Styling */
nav {
    /* Fix Header */
    position: fixed;
    top: 0px;
    width: 100vw;
    height: var(--header);

    /* Style */
    background: var(--darkgrey);
}

/* Hamburger Styling */
.hamburger {
    z-index: 2;
    height: var(--burger);
    width: var(--burger);
    margin: 0;
    border: 0;
    padding: 4px;
    background-color: inherit;
    display: none;
}

.hamburger:hover, .hamburger:active, .hamburger:focus {
    cursor: pointer;
    --burgerColor: var(--blue);
    transition: background var(--linkHover);
    outline: 0 !important;
}

.hamburger-inner {
    z-index: 3;
    display: block;
    position: absolute;
    background-color: var(--burgerColor);
    transition: background var(--linkHover), transform var(--linkHover), top var(--linkHover);
    width: var(--burger);
    height: var(--patty);
    border-radius: var(--patty);
}

.hamburger-middle {
    top: calc(50% - (var(--patty)/2));
}

.hamburger-top {
    top: 12px;
}

.hamburger-bottom {
    bottom: 12px;
}

.hamburger-top.is-active {
    transform: rotate(45deg);
    top: calc(50% - (var(--patty)/2));
}

.hamburger-middle.is-active {
    background-color: transparent;
}

.hamburger-bottom.is-active {
    transform: rotate(-45deg);
    top: calc(50% - (var(--patty)/2));
}

nav > ul {
    /* Replace Default List Padding/Margin */
    padding: 0px;
    margin: 0px;
    height: var(--header);
    position: fixed;
    width: 100%;

    /* Desktop Grid */
    display: grid;
    grid-auto-flow: column;

    /* Center List Items */
    justify-items: center;
    align-content: center;
}

nav > ul > li {
    width: 100%;
    height: var(--header);
    text-align: center;
    list-style: none;

    /* Background Transition */
    transition: background var(--linkHover);
}

nav > ul > li:hover {
    background: var(--midgrey);
}

nav > ul > li > a {
    /* Style Nav Links */
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    height: var(--header);
    text-transform: uppercase;

    /* Color Transition */
    transition: color var(--linkHover);

    /* Center Content Vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Nav Link Colors */
nav > ul > li > a:link, nav > ul > li > a:visited {
    color: var(--white);
}
nav > ul > li:hover > a, nav > ul > li > a:active {
    color: var(--blue);
}

div.wrapper {
    width: 100vw;
    padding-top: var(--header);
}

div.content {
    width: 100%;
}

/* Home Styling */
.home {
    /* Sizing */
    min-height: var(--page);

    /* Center Headers */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    text-align: center;
    font-family: "Pacifico", serif;
    font-size: 6em;
    margin: 0px;
}

.home h2 {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

/* Section Styling */
.section {
    width: 100%;
    padding-left: var(--sidebar);
    padding-right: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: var(--page);
    text-align: center;
}

.large {
    min-height: var(--page) !important;
}

.section h2 {
    font-size: 2.5em;
    margin: 0px;
}

.section-content {
    padding: var(--medGap);
}

/* About Styling */
.section-about {
    background: var(--grey);
    background-image: url('../img/mike-dennler-173199.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-about .section-content {
    background: var(--white50);
}

/* Project Styling */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--medGap);
}

.project {
    flex-grow: 1;
    max-width: var(--project);
    margin: var(--smallGap);

    transition: box-shadow var(--linkHover);

    /* Layout */
    display: grid;
    grid-template-rows: calc(100px + var(--smallGap)) 1fr auto;
    grid-template-areas:
    "title"
    "content"
    "link";

    /* Style */
    background: var(--white);
    box-shadow: 3px 3px 8px .8px var(--grey50);
}

.project:hover {
    /* Link */
    box-shadow: 3px 3px 8px .8px var(--grey70);
}

.project > * {
    height: 100%;
    padding-left: var(--smallGap);
    padding-right: var(--smallGap);
}

.project > .project-title-wrapper {
    background: var(--grey15);
    text-decoration: none;
    color: var(--black);
}

.project .project-title {
    width: 100%;
    height: 100%;
    grid-area: title;
    display: flex;
    align-items: center;
}

.project h3 {
    font-size: 1.5em;
    margin: 0px;
    text-align: left;
}

.project .icon {
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
}

.project .description {
    text-align: left;
    grid-area: content;
}

.project .info {
    grid-area: link;
    display: flex;
    width: 100%;
    padding-bottom: var(--smallGap);
}

.project .info .more {
    text-align: left;
    margin-right: auto;
    text-decoration: none;
}

.project .info .status {
    text-align: right;
    margin-left: auto;
}

/* Contact Styling */
.section-contact {
    background: var(--grey);
    background-image: url(../img/Cowbell.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.section-contact .section-content {
    background: var(--darkgrey20);
}

.section-contact .contact-links {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-contact a {
    transition: color var(--linkHover);
    text-decoration: none;
}

.section-contact a:hover {
    color: var(--white);
}

.section-contact a.contact-link {
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 5px;
}

/* Contact Link Colors */
a.contact-link:link, a.contact-link:visited {
    color: var(--white);
}
a.contact-link:hover, a.contact-link:active {
    color: var(--blue);
}

@media only screen and (max-width: 768px) {
    :root {
        --sidebar: 20px;
    }
    .hamburger {
        display: inline-block;
    }
    nav > ul.is-hidden {
        transform: translateY(calc(var(--header) * -6));
    }
    nav > ul {
        grid-auto-flow: row;
        align-content: start;
        transition: transform 0.2s ease-out;
    }
    nav > ul > li {
        background: var(--darkgrey);
    }
}