.title {
    font-size: 3rem;
}

#about-title {
    color: white;
}

#contact-title {
    color: white;
}

p {
    font-size: 1.1rem;
    margin-bottom: 24px;
}

a.navbar-item {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

a.navbar-item.is-active {
    background-color: #dbdbdb !important;
}

a.navbar-item.is-active:hover {
    background-color: #c3c3c3 !important;
}

.icon > a {
    color: #4a4a4a;
}

.main {
    margin-top: 52px;
}

.main-icon {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.main-icon:hover {
    color: lightgray;
}

.main-title {
    font-size: 4rem;
}

.main-subtitle {
    font-size: 2rem;
}

#about-page {
    background-image: url("/img/Cowbell2.jpg");
    background-repeat: no-repeat;
    background-position: left;
    color: white
}

#contact-page {
    background-image: url("/img/Colvard3.jpg");
    background-repeat: no-repeat;
    background-position: left;
    color: white
}

#main-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}