@keyframes showBtn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#top-button {
    padding-left: 10px;
    display: none;
}

#top-button.is-shown {
    display: flex;
    animation: showBtn 0.2s ease-in-out both;
}

.icon-label {
    display: none;
}

.icon-label.is-shown {
    display: block;
    animation: showBtn 0.2s ease-in-out both;
}

#up {
    font-size: 1rem;
}

.next-button {
    font-size: 4rem;
    position: fixed;
    top: 90vh;
    left: 0px;
    right: 0px;
}

.navbar {
    position: fixed !important;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    background-image: none;
    z-index: 10;
    padding-left: 70px;
    padding-right: 70px;
}